<div class="container">
    <h3>List All Trashed Employees</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee Age</th>
                <th scope="col">Employee Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of deletedEmployeesData">
                <td>{{detail.id}}</td>
                <td>{{detail.employee_name}}</td>
                <td>{{detail.employee_age}}</td>
                <td>{{detail.employee_salary}}</td>
            </tr>
        </tbody>
    </table>


</div>