<form #employeeForm="ngForm" id="employeeForm" (ngSubmit)="saveEmployee()">
    <div class="container">

        <h3>Add Employee Details</h3>

        <div class="form-group" [class.has-error]="employee_name.invalid && employee_name.touched"
            [class.has-success]="employee_name.valid">
            <label for="employee_name">Employee Name</label>
            <input type="text" required name="employee_name" [(ngModel)]="data.employee_name" class="form-control"
                id="employee_name" placeholder=" Enter Name" #employee_name="ngModel">
            <span class="help-block" *ngIf="employee_name.invalid && employee_name.touched">
                Employee Name is Required!
            </span>
        </div>
        <div class="form-group" [class.has-error]="employee_age.invalid && employee_age.touched"
            [class.has-success]="employee_age.valid">
            <label for="employee_age">Employee Age</label>
            <input type="number" class="form-control" required name="employee_age" id="employee_age"
                [(ngModel)]="data.employee_age" placeholder=" Enter Age" #employee_age="ngModel">
            <span class="help-block" *ngIf="employee_age.invalid && employee_age.touched">
                Employee Age is Required!
            </span>
        </div>
        <div class="form-group" [class.has-error]="employee_salary.invalid && employee_salary.touched"
            [class.has-success]="employee_salary.valid">
            <label for="employee_salary">Employee Salary</label>
            <input type="number" required class="form-control" name="employee_salary" id="employee_salary"
                [(ngModel)]="data.employee_salary" placeholder=" Enter Salary" #employee_salary="ngModel">
            <span class="help-block" *ngIf="employee_salary.invalid && employee_salary.touched">
                Employee Salary is Required!
            </span>
        </div>
        <button [disabled]="employeeForm.invalid" type="submit" class="btn btn-primary">Add</button>
    </div>
</form>