<div class="container">

    <h3>Update Employee Record</h3>

    <div class="form-group">
        <label for="employee_name">Name</label>
        <input type="text" class="form-control" name="employee_name" [(ngModel)]="data.employee_name" id="employee_name"
            placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="employee_age">Age</label>
        <input type="number" class="form-control" name="employee_age" [(ngModel)]="data.employee_age" id="employee_age"
            placeholder="Enter Age">
    </div>
    <div class="form-group">
        <label for="employee_salary">Salary</label>
        <input type="number" class="form-control" name="employee_salary" [(ngModel)]="data.employee_salary"
            id="employee_salary" placeholder="Enter Salary">
    </div>
    <button type="submit" class="btn btn-success" (click)="update()">Update</button>
    <button type="submit" class="btn btn-warning ml-1" [routerLink]="[ '/list']">Cancel</button>
</div>