<div class="container">
    <h3>List All Employees</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee Age</th>
                <th scope="col">Employee Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of employeesData">
                <td>{{detail.id}}</td>
                <td>{{detail.employee_name}}</td>
                <td>{{detail.employee_age}}</td>
                <td>{{detail.employee_salary}}</td>
                <td style="display: flex">
                    <button type="button" class="btn btn-warning btn-sm" routerLink="/edit/{{detail.id}}">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm ml-1" (click)="delete(detail)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-success" [routerLink]="[ '/create']">Add Student</button>
</div>